.product-name , .item-price {
    padding: 20px 0; 
    border-bottom: 1px dotted #dfe0e1;
}
.image {
  position: relative;
  width: 100%;
  padding-top: 75%; /* Tỷ lệ 4:3 */
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
