<!-- Sidebar Page Container -->
<div class="sidebar-page-container mt-2">
    
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/"><span>Trang chủ</span></a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/product"><span>Sản phẩm</span></a>
                </li>
                <li class="breadcrumb-item">
                    <span>{{product.name}}</span>
                </li>
            </ol>
        </div>
        <!-- Content Side -->
        <div class="content-side col-xl-12 col-lg-8 col-md-12">
          <div class="shop-single">
            <div class="product-details">
              <!-- Basic Details -->
              <!-- <div class="basic-details">
                <div class="row clearfix">
                  <div class="image-column col-md-6 col-sm-12">
                    <figure class="image-box">
                        <img [src]="getImageUrl(product.image)" alt="{{product.name}}">
                    </figure>
                  </div>
                  <div class="info-column col-md-6 col-sm-12">
                    <div class="details-header">
                      <h4>{{ product.name }}</h4>
                      <div class="item-price">{{ product.price | currency: 'VND' }}</div>
                    </div>
                    <div class="text">{{ product.description }}</div>
                    <div class="other-options clearfix">
                        <button type="button" class="btn btn-primary">
                          Thêm vào giỏ
                        </button>
                      </div>
                  </div>
                </div>
              </div> -->
              <div class="basic-details">
                <div class="row">
                  <!-- Hình ảnh sản phẩm -->
                  <div class="col-md-6 col-sm-12 mb-4">
                    <div class="product-image">
                      <figure class="image-box text-center">
                        <img [src]="getImageUrl(product.image)" alt="{{ product.name }}" class="img-fluid rounded shadow">
                      </figure>
                    </div>
                  </div>
              
                  <!-- Thông tin chi tiết sản phẩm -->
                  <div class="col-md-6 col-sm-12">
                    <div class="product-info">
                      <h3 class="product-name text-dark fw-bold">{{ product.name }}</h3>
                      <h4 class="item-price text-danger">{{ product.price | currency: 'VND' }}</h4>
                      <p class="text-muted">{{ product.description }}</p>
              
                      <!-- Lựa chọn khác nếu có -->
                      <div class="other-options mt-4">
                        <button type="button" class="btn btn-danger btn-lg w-50">
                         Thêm vào giỏ
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Basic Details -->
  
              <!-- Product Info Tabs -->
              <div class="product-info-tabs">
                <!-- Product Tabs -->
                <div class="prod-tabs tabs-box">
                  <!-- Tab Btns -->
                  <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#prod-details" class="tab-btn">Mô tả</li>
                    <li data-tab="#prod-reviews" class="tab-btn active-btn">Đánh giá</li>
                  </ul>
  
                  <!-- Tabs Container -->
                  <div class="tabs-content">
                    <!-- Tab -->
                    <div class="tab" id="prod-details">
                      <div class="content">
                        <p>{{ product.description }}</p>
                      </div>
                    </div>
  
                    <!-- Tab -->
                    <div class="tab active-tab" id="prod-reviews">
                      <!-- Comment Form -->
                      <div class="shop-comment-form">
                        <h2>Đánh giá</h2>
                        <div class="rating-box">
                          <div class="rating">
                            <a href="#">
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </a>
                          </div>
                        </div>
                        <form method="post" action="#" class="col-md-8">
                          <div class="form-group">
                            <label>Nhận xét của bạn*</label>
                            <textarea name="message" placeholder=""></textarea>
                          </div>
                          <div class="form-group">
                            <button class="btn btn-primary" type="submit" name="submit-form">Gửi</button>
                          </div>
                        </form>
                      </div>
                      <h2 class="title mt-2">2 Đánh giá cho {{ product.name }}</h2>
                      <!-- Reviews Container -->
                      <div class="comments-area style-two">
                        <!-- Comment Box -->
                        <div class="comment-box">
                          <div class="comment">
                            <div class="author-thumb"><img src="/assets/client/images/resource/author-6.jpg" alt=""></div>
                            <div class="comment-inner">
                              <div class="comment-info clearfix">James Koster <span>June 7’2013:</span></div>
                              <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star light"></span>
                              </div>
                              <div class="text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's.
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Comment Box -->
                        <div class="comment-box">
                          <div class="comment">
                            <div class="author-thumb"><img src="/assets/client/images/resource/author-8.jpg" alt=""></div>
                            <div class="comment-inner">
                              <div class="comment-info clearfix">Magnus <span>June 7’2013:</span></div>
                              <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                              </div>
                              <div class="text">
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
                                a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                Richard McClintock,
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Product Info Tabs -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Sidebar Page Container -->
  