<!--Page Title-->
<section class="page-title" style="background-image:url(/assets/client/images/background/10.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>Check Out</h1>
                <span class="title">The Interior speak for themselves</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="index-2.html">Home</a></li>
                <li>Check Out</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!--CheckOut Page-->
<div class="checkout-page">
    <div class="auto-container">

        <!--Checkout Details-->
        <div class="checkout-form">
            <form method="post" action="#">
                <div class="row clearfix">
                    <!--Column-->
                    <div class="column col-lg-6 col-md-12">
                        <div class="sec-title">
                            <h3>Chi tiết thanh toán</h3>
                        </div>

                        <div class="row clearfix">

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="field-label">Họ <sup>*</sup></div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="field-label">Tên </div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="field-label">Email</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-12">
                                <div class="field-label">Số điện thoại</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>


                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="field-label">Địa chỉ</div>
                                <input type="text" name="field-name" value="" placeholder="Street address">
                            </div>

                            <div class="form-group col-md-12 col-sm-12">
                                <input type="text" name="field-name" value=""
                                    placeholder="Apartment,suite,unit etc. (optional)">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="field-label">Tỉnh/Thành phố</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <!--Form Group-->
                            <div class="form-group col-sm-12">
                                <div class="field-label">Postcode/ ZIP</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 ">
                                <div class="field-label">Ghi chú</div>
                                <textarea class=""
                                    placeholder="Notes about your order,e.g. special notes for delivery."></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <input type="checkbox" name="shipping-option" id="account-option"> &ensp; <label
                                    for="account-option">Create An Account?</label>
                                <div class="text">Tạo tài khoản bằng cách nhập thông tin bên dưới. Nếu bạn là khách hàng
                                    thường xuyên, vui lòng đăng nhập ở đầu trang.</div>
                            </div>

                            <div class="form-group col-md-12 col-sm-12 mb-4">
                                <div class="field-label"><span>Account Password</span></div>
                                <input type="password" name="field-name" value="" placeholder="Password">
                            </div>
                        </div>
                    </div>

                    <!--Order Box-->
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <div class="order-box">
                            <div class="column col-md-12"></div>
                            <div class="sec-title">
                                <h2>Đơn hàng</h2>
                            </div>
                            <div class="title-box clearfix">
                                <div class="col">SẢN PHẨM</div>
                                <div class="col">TỔNG</div>
                            </div>
                            <ul>
                                <li class="clearfix"><strong>Patient Ninja 1</strong><span>$35.00</span></li>
                                <li class="clearfix">TỔNG<span>$35.00</span></li>
                                <li class="clearfix">VẬN CHUYỂN<span class="free">Miễn phí vận chuyển</span></li>
                                <li class="clearfix">TỔNG CỘNG<span>$35.00</span></li>
                            </ul>
                        </div>
                    </div>
                    <!--End Order Box-->

                    <!--Payment Box-->
                    <div class="payment-box">
                        <div class="upper-box">
                            <!--Payment Options-->
                            <div class="payment-options">
                                <ul>
                                    <li>
                                        <div class="radio-option">
                                            <input type="radio" name="payment-group" id="payment-2" checked>
                                            <label for="payment-2"><strong>Thanh toán qua ngân hàng</strong><span
                                                    class="small-text">Make your payment directly into our bank
                                                    account.
                                                    Please use your Order ID as the payment reference. Your order
                                                    won’t
                                                    be shipped until the funds have cleared in our
                                                    account.</span></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio-option">
                                            <input type="radio" name="payment-group" id="payment-1">
                                            <label for="payment-1"><strong>Kiểm tra thanh toán</strong><span
                                                    class="small-text">Make your payment directly into our bank
                                                    account.
                                                    Please use your Order ID as the payment reference. Your order
                                                    won’t
                                                    be shipped until the funds have cleared in our
                                                    account.</span></label>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="radio-option">
                                            <input type="radio" name="payment-group" id="payment-3">
                                            <label for="payment-3"><strong>Thanh toán khi nhận hàng</strong><span
                                                    class="small-text">Make your payment directly into our bank
                                                    account.
                                                    Please use your Order ID as the payment reference. Your order
                                                    won’t
                                                    be shipped until the funds have cleared in our
                                                    account.</span></label>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <div class="radio-option">
                                            <input type="radio" name="payment-group" id="payment-4">
                                            <label for="payment-4"><strong>PayPal</strong><span class="image"><img
                                                        src="/assets/client/images/resource/paypal.jpg" alt="" /></span></label>
                                            <a href="#" class="what-paypall">PayPal của bạn là?</a>
                                        </div>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="lower-box text-right">
                            <a routerLink="/" class="theme-btn btn-style-one">Place Order</a>
                        </div>
                    </div>
                    <!--End Payment Box-->