<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Coming Soon -->
    <section class="coming-soon" style="background-image:url(images/background/3.jpg)">
        <div class="auto-container">
            <div class="content">
                <div class="content-inner">
                    <div class="logo"><a href="index-2.html"><img src="images/logo-2.png" alt="" /></a></div>
                    <h2>Comming Soon</h2>
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2019/9/19"></div></div>
                    <div class="text">Our Website is under construction. stay tuned for something amazing!. <br> Subscribe to be notified,</div>
                    <!--Emailed Form-->
                    <div class="emailed-form">
                        <form method="post" action="#">
                            <div class="form-group">
                                <input type="email" name="email" value="" placeholder="Enter Your Email" required>
                                <button type="submit" class="theme-btn btn-style-one">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Coming Soon -->
</div>
