
.user-info-container {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
  }

  .user-info-container h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  .not-logged-in {
    text-align: center;
  }

  .login-message {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
  }

  .auth-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .login-btn,
  .register-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .login-btn {
    background-color: #007bff;
  }

  .register-btn {
    background-color: #28a745;
  }

  .login-btn:hover {
    background-color: #0056b3;
  }

  .register-btn:hover {
    background-color: #218838;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .tab-link {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .tab-link:hover {
    background-color: #ddd;
  }

  .tab-link.active {
    background-color: #007bff;
    color: white;
  }

  .tab-content {
    display: none;
    padding: 10px;
    font-size: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  .tab-content.active {
    display: block;
  }
  .nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Căn giữa toàn bộ nội dung trong bảng */
.table-bordered th, 
.table-bordered td {
  text-align: center; /* Căn giữa ngang */
  vertical-align: middle; /* Căn giữa dọc */
}


/* Nút trong badge (hover hiệu ứng) */
.badge:hover {
  cursor: pointer;
  opacity: 0.9; /* Hiệu ứng hover */
}
/* Căn giữa badge trong cột */
.badge {
  display: flex; /* Sử dụng flexbox */
  justify-content: center !important; /* Căn giữa theo chiều ngang */
  align-items: center !important; /* Căn giữa theo chiều dọc */
  padding: 10px; /* Khoảng cách bên trong */
  border-radius: 5px; /* Bo góc badge */
  font-size: small;
}