<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <div class="body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">SỬA SẢN PHẨM</h5>
                            <div class="table-responsive">
                                <!-- <form (ngSubmit)="updateOrder()">
                                    <div class="mb-3">
                                        <label for="user_id" class="form-label">ID người dùng</label>
                                        <input type="number" class="form-control" id="user_id" [(ngModel)]="order.user_id" name="user_id" required>
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="total_amount" class="form-label">Tổng số tiền</label>
                                        <input type="number" class="form-control" id="total_amount" [(ngModel)]="order.total_amount" name="total_amount" required>
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="payment_method" class="form-label">Phương thức thanh toán</label>
                                        <input type="text" class="form-control" id="payment_method" [(ngModel)]="order.payment_method" name="payment_method" required>
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="payment_amount" class="form-label">Số tiền thanh toán</label>
                                        <input type="number" class="form-control" id="payment_amount" [(ngModel)]="order.payment_amount" name="payment_amount" required>
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="address" class="form-label">Địa chỉ giao hàng</label>
                                        <input type="text" class="form-control" id="address" [(ngModel)]="order.address" name="address" required>
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="phone_number" class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control" id="phone_number" [(ngModel)]="order.phone_number" name="phone_number" required>
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="status" class="form-label">Trạng thái</label>
                                        <select class="form-select" id="status" [(ngModel)]="order.status" name="status" required>
                                            <option value="shipped">Đã gửi</option>
                                            <option value="delivered">Đã giao</option>
                                            <option value="cancelled">Đã hủy</option>
                                        </select>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary w-100">Cập nhật</button>
                                </form> -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
