<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <div class="body-wrapper">
    <div class="container-fluid">
      <div class="row mb-4">

        <div class="col-lg-8 col-md-12">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title text-center">Biểu đồ Đơn hàng</h5>
              <canvas id="orderChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title text-center">Biểu đồ Sản phẩm</h5>
              <canvas id="productChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-4 col-md-12">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title text-center">Biểu đồ Voucher</h5>
              <canvas id="voucherChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title text-center">Biểu đồ Người dùng</h5>
              <canvas id="userChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title text-center">Biểu đồ Bài viết</h5>
              <canvas id="postChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
