<!--Page Title-->
<section class="page-title" style="background-image:url(assets/client/images/background/10.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>Tin Tức & Bài Viết</h1>
                <span class="title">The Interior speak for themselves</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a routerLink="">Trang Chủ</a> </li>
                <li>Blogs</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Blog Section -->
<section class="blog-section">
    <div class="auto-container">
        <div class="row">
            <div *ngFor="let post of posts" class="news-block-two col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box">
                  <div class="image-box">
                    <figure class="image_url">
                      <!-- <img [src]="post.image_url" alt="{{post.title}}" /> -->
                      <img [src]="getImageUrl(post.image_url)" class="img-fluid" >
                    </figure>
                    <div class="overlay-box">
                      <a [routerLink]="['/blog', post.id]">
                        <i class="fa fa-link"></i>
                      </a>
                    </div>
                  </div>
                  <div class="caption-box">
                    <div class="inner">
                      <h3><a [routerLink]="['/blog-detail', post.id]">{{post.title}}</a></h3>
                      <ul class="info">
                        <li>{{ post.created_at | date: 'dd MMMM yyyy' }}</li>
                        <li><a href="/blog-detail-2.html">Admin</a></li>
                        <li><a routerLink="blog-detail/">Xem Chi Tiết</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <!--Post Share Options-->
        <div class="styled-pagination">
            <ul class="clearfix">
                <li class="prev-post"><a href="#"><span class="fa fa-long-arrow-left"></span> Prev</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next-post"><a href="#"> Next <span class="fa fa-long-arrow-right"></span> </a></li>
            </ul>
        </div>
    </div>
</section>
<!--End Blog Section -->