<!--Page Title-->
<section class="page-title" style="background-image:url(assets/client/images/background/10.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>Tin Tức & Bài Viết</h1>
                <span class="title">The Interior speak for themselves</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a routerLink="">Trang Chủ</a> </li>
                <li>Blogs</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Blog Section -->
<section class="blog-section">
    <div class="auto-container">
        <div class="row">
            <!-- News Block -->
            <div class="news-block-two col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="assets/client/images/resource/news-4.jpg" alt=""></figure>
                        <div class="overlay-box"><a routerLink="blog"><i class="fa fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <div class="inner">
                            <h3><a routerLink="blog-detail">In Good Taste: Mark Finlay Architects & Interiors.</a></h3>
                            <ul class="info">
                                <li>06 June 2018,</li>
                                <li><a href="blog-detail-2.html">John Smith</a></li>
                                <li><a href="blog-detail-2.html">3 Commets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block-two col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="assets/client/images/resource/news-5.jpg" alt=""></figure>
                        <div class="overlay-box"><a href="blog-detail.html"><i class="fa fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <div class="inner">
                            <h3><a routerLink="blog-single">The Lexury Apartment of sepcial interiors.</a></h3>
                            <ul class="info">
                                <li>06 June 2018,</li>
                                <li><a href="blog-detail-2.html">John Smith</a></li>
                                <li><a href="blog-detail-2.html">3 Commets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block-two col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="assets/client/images/resource/news-6.jpg" alt=""></figure>
                        <div class="overlay-box"><a href="blog-detail.html"><i class="fa fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <div class="inner">
                            <h3><a href="blog-detail.html">6 Easy Ways to Create a Backyard Paradise.</a></h3>
                            <ul class="info">
                                <li>06 June 2018,</li>
                                <li><a href="blog-detail-2.html">John Smith</a></li>
                                <li><a href="blog-detail-2.html">3 Commets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block-two col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="assets/client/images/resource/news-7.jpg" alt=""></figure>
                        <div class="overlay-box"><a href="blog-detail.html"><i class="fa fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <div class="inner">
                            <h3><a href="blog-detail.html">The Business metting room interior in the rank.</a></h3>
                            <ul class="info">
                                <li>06 June 2018,</li>
                                <li><a href="blog-detail-2.html">John Smith</a></li>
                                <li><a href="blog-detail-2.html">3 Commets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block-two col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="assets/client/images/resource/news-12.jpg" alt=""></figure>
                        <div class="overlay-box"><a href="blog-detail.html"><i class="fa fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <div class="inner">
                            <h3><a href="blog-detail.html">In Good Taste: Mark Finlay Architects & Interiors.</a></h3>
                            <ul class="info">
                                <li>06 June 2018,</li>
                                <li><a href="blog-detail-2.html">John Smith</a></li>
                                <li><a href="blog-detail-2.html">3 Commets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block-two col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="assets/client/images/resource/news-13.jpg" alt=""></figure>
                        <div class="overlay-box"><a href="blog-detail.html"><i class="fa fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <div class="inner">
                            <h3><a href="blog-detail.html">The Lexury Apartment of sepcial interiors.</a></h3>
                            <ul class="info">
                                <li>06 June 2018,</li>
                                <li><a href="blog-detail-2.html">John Smith</a></li>
                                <li><a href="blog-detail-2.html">3 Commets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block-two col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="assets/client/images/resource/news-14.jpg" alt=""></figure>
                        <div class="overlay-box"><a href="blog-detail.html"><i class="fa fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <div class="inner">
                            <h3><a href="blog-detail.html">6 Easy Ways to Create a Backyard Paradise.</a></h3>
                            <ul class="info">
                                <li>06 June 2018,</li>
                                <li><a href="blog-detail-2.html">John Smith</a></li>
                                <li><a href="blog-detail-2.html">3 Commets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block-two col-lg-6 col-md-12 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="assets/client/images/resource/news-15.jpg" alt=""></figure>
                        <div class="overlay-box"><a href="blog-detail.html"><i class="fa fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <div class="inner">
                            <h3><a href="blog-detail.html">The Business metting room interior in the rank.</a></h3>
                            <ul class="info">
                                <li>06 June 2018,</li>
                                <li><a href="blog-detail-2.html">John Smith</a></li>
                                <li><a href="blog-detail-2.html">3 Commets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Post Share Options-->
        <div class="styled-pagination">
            <ul class="clearfix">
                <li class="prev-post"><a href="#"><span class="fa fa-long-arrow-left"></span> Prev</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next-post"><a href="#"> Next <span class="fa fa-long-arrow-right"></span> </a></li>
            </ul>
        </div>
    </div>
</section>
<!--End Blog Section -->