

<section class="page-title" style="background-image:url(/assets/client/images/background/10.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>Dịch Vụ</h1>
                <span class="title">The Interior speak for themselves</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="index-2.html">Trang Chủ</a></li>
                <li>Dịch Vụ</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- FAQ Section -->
<section class="faq-section"> 
    <div class="auto-container">
        <div class="row">
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <figure class="image"><img src="/assets/client/images/resource/faq-img.jpg" alt=""></figure>
                    </div>
                </div>
            </div>

            <div class="accordion-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="float-text">some FAQ’s</span>
                        <h2>Frequality Asked Questions</h2>
                    </div>
                    <ul class="accordion-box">
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">Do you do the design and the execution yourselves? <div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We give a Contra for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active">Do you give Contra and After sales service? <div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">We give a Contra for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</div> 
                                </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">Will you be able to give a quote, if given the floor plan? <div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We give a Contra for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</div> 
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">At what stage an interior designing work could be started?<div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We give a Contra for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</div> 
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">Do you charge for giving a Proposal?<div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We give a Contra for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End FAQ Section -->
 <!-- Fun Fact And Features -->
 <section class="fun-fact-and-features alternate" > 
    <!-- style="background-image: url(/assets/client/images/background/3.jpg); -->
    <div class="outer-box">
        <div class="auto-container">

            <!-- Features -->
            <div class="features">
                <div class="row">
                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-decorating"></span></div>
                            <h3><a href="">Perfect Design</a></h3>
                            <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
                            <div class="link-box"><a href="">Read More</a></div>
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-plan"></span></div>
                            <h3><a href="">Carefully Planned</a></h3>
                            <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
                            <div class="link-box"><a href="">Read More</a></div>
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                            <h3><a href="">Smartly Execute</a></h3>
                            <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
                            <div class="link-box"><a href="">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fun Fact Section -->