<section class="page-title" style="background-image:url(/assets/client/images/background/10.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>Dịch Vụ</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a  routerLink="/">Trang Chủ</a></li>
                <li>Dịch Vụ</li>
            </ul>
        </div>
    </div>
</section>

<!-- FAQ Section -->
<section class="faq-section"> 
    <div class="auto-container">
        <div class="row">
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <figure class="image"><img src="https://images.squarespace-cdn.com/content/v1/6465e9f0c32fb30720d59d36/1685670015144-M72EMCRMRULNMR2EOW2Y/What-Does-an-Interior-Designer-Do.jpg" alt=""></figure>
                    </div>
                </div>
            </div>

            <div class="accordion-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Câu hỏi thường gặp tại IN7</h2>
                    </div>
                    <ul class="accordion-box">
                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active">Giá niêm yết trên Website là giá bán thực tế đúng không?<div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">Giá niêm yết trên website là giá bán thực tế nếu có thay đổi về giá Chúng tôi sẽ thông báo ngay khi Khách liên hệ mua.
                                   </div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active">Điều kiện để được bảo hành miễn phí là gì?
                            <div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">
                                        Quý khách sẽ được bảo hành miễn phí khi: <br>
                                        - Sản phẩm bị hỏng hóc, sự cố do lỗi của nhà sản xuất. <br>
                                        - Sản phẩm còn trong thời hạn bảo hành.
                                    </div> 
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active">Có vận Miễn Phí Vận Chuyển không?<div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">
                                    Chúng tôi có Miễn Phí vận chuyển trong nội ô TP.Cần Thơ <br>
                                    Miễn phí vận chuyển đi các tỉnh miền tây, tùy thuộc vào đơn hàng và có thỏa thuận phát sinh
                                    </div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End FAQ Section -->
 <!-- Fun Fact And Features -->
 <section class="fun-fact-and-features alternate mb-5"> 
    <!-- style="background-image: url(/assets/client/images/background/3.jpg); -->
    <div class="outer-box">
        <div class="auto-container">

            <!-- Features -->
            <div class="features">
                <div class="row">
                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-decorating"></span></div>
                            <h3><a href="">Sản Phẩm Nội Thất Cao Cấp</a></h3>
                            <div class="text">Đa dạng mẫu mã từ phong cách hiện đại, cổ điển đến tối giản, phù hợp với mọi không gian như phòng khách, phòng ngủ, nhà bếp, văn phòng.</div>
                         </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-plan"></span></div>
                            <h3><a href="">Tư Vấn Thiết Kế Nội Thất</a></h3>
                            <div class="text">Hỗ trợ tư vấn miễn phí để khách hàng chọn được sản phẩm phù hợp với không gian.
                                Dịch vụ thiết kế nội thất chuyên nghiệp, tạo không gian sống tiện nghi.</div>
                            
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                            <h3><a href=""> Giao Hàng Nhanh Chóng</a></h3>
                            <div class="text">Miễn phí giao hàng trong nội thành cho các đơn hàng đạt giá trị tối thiểu.
                                Thời gian giao hàng linh hoạt và nhanh chóng, đảm bảo sản phẩm đến tay khách hàng trong tình trạng hoàn hảo.</div>
                            
                        </div>
                    </div>

                       <!-- Feature Block -->
                       <div class="feature-block col-lg-4 col-md-6 col-sm-12 mt-3">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                            <h3><a href="">Chính Sách Hậu Mãi Uy Tín</a></h3>
                            <div class="text">Đổi trả dễ dàng trong vòng 7-30 ngày nếu sản phẩm không đúng mô tả hoặc bị lỗi từ nhà sản xuất.
                                Bảo hành dài hạn tùy theo sản phẩm, giúp khách hàng yên tâm sử dụng.</div>
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12 mt-3">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                            <h3><a href="">Lắp Đặt Tận Nơi</a></h3>
                            <div class="text">Cung cấp dịch vụ lắp đặt chuyên nghiệp ngay tại nhà, đảm bảo sự tiện lợi và hài lòng cho khách hàng.
                                Miễn phí lắp đặt với một số sản phẩm hoặc chương trình ưu đãi đặc biệt.</div>
                            
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12 mt-3">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                            <h3><a href="">Nội Thất Xanh – Vì Môi Trường</a></h3>
                            <div class="text">Hướng đến sử dụng vật liệu thân thiện môi trường và bền vững.
                                Các sản phẩm tích hợp công nghệ tiết kiệm năng lượng và bảo vệ sức khỏe gia đình bạn.</div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fun Fact Section -->