

<section class="page-title" style="background-image:url(/assets/client/images/background/10.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>Dịch Vụ</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="index-2.html">Trang Chủ</a></li>
                <li>Dịch Vụ</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- FAQ Section -->
<section class="faq-section"> 
    <div class="auto-container">
        <div class="row">
            <!-- Cột Hình Ảnh -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <figure class="image"><img src="/assets/client/images/resource/faq-img.jpg" alt=""></figure>
                    </div>
                </div>
            </div>

            <!-- Cột Accordion -->
            <div class="accordion-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="float-text">some FAQ’s</span>
                        <h2>Câu hỏi thường gặp tại In7</h2>
                    </div>
                    <ul class="accordion-box">
                        <!-- Mục -->
                        <li class="accordion block">
                            <div class="acc-btn">Các sản phẩm do chúng tôi tự thiết kế và thực hiện phải không? <div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Các sản phẩm đều do chúng tôi tự tay thiết kế, có một số sẽ có mua ý tưởng của các công ty khác để nhằm đáp ứng tốt yêu cầu cửa khách hàng đặt ra.</div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion block active-block">
                            <div class="acc-btn active">Shop có dịch vụ bảo hành và các dịch vụ sau bán hàng không? <div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">Chúng tôi cung cấp gói bảo hành trong thời hạn 5 năm và cam kết sẽ sửa chữa mọi lỗi phát sinh do tay nghề kém của chúng tôi. Tuy nhiên, bảo hành không áp dụng cho các mặt hàng dễ vỡ và xử lý sai.</div> 
                                </div>
                            </div>
                        </li>
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">Chúng tôi có tính phí khi đưa ra đề xuất tốt nhất cho bạn không?<div class="icon fa fa-plus-square"></div></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Chúng tôi sẽ tư vấn miễn phí cho bạn các sản phẩm có chất lượng và giá cả tốt nhất bên chúng tôi, nếu cần cứ nhắn nhé!</div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End FAQ Section -->
 <!-- Fun Fact And Features -->
 <section class="fun-fact-and-features alternate" > 
    <!-- style="background-image: url(/assets/client/images/background/3.jpg); -->
    <div class="outer-box">
        <div class="auto-container">

            <!-- Features -->
            <div class="features">
                <div class="row">
                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-decorating"></span></div>
                            <h3><a href="">Sản Phẩm Nội Thất Cao Cấp</a></h3>
                            <div class="text">Đa dạng mẫu mã từ phong cách hiện đại, cổ điển đến tối giản, phù hợp với mọi không gian như phòng khách, phòng ngủ, nhà bếp, văn phòng.</div>
                         </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-plan"></span></div>
                            <h3><a href="">Tư Vấn Thiết Kế Nội Thất</a></h3>
                            <div class="text">Hỗ trợ tư vấn miễn phí để khách hàng chọn được sản phẩm phù hợp với không gian.
                                Dịch vụ thiết kế nội thất chuyên nghiệp, tạo không gian sống tiện nghi.</div>
                            
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                            <h3><a href=""> Giao Hàng Nhanh Chóng</a></h3>
                            <div class="text">Miễn phí giao hàng trong nội thành cho các đơn hàng đạt giá trị tối thiểu.
                                Thời gian giao hàng linh hoạt và nhanh chóng, đảm bảo sản phẩm đến tay khách hàng trong tình trạng hoàn hảo.</div>
                            
                        </div>
                    </div>

                       <!-- Feature Block -->
                       <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                            <h3><a href="">Chính Sách Hậu Mãi Uy Tín</a></h3>
                            <div class="text">Đổi trả dễ dàng trong vòng 7-30 ngày nếu sản phẩm không đúng mô tả hoặc bị lỗi từ nhà sản xuất.
                                Bảo hành dài hạn tùy theo sản phẩm, giúp khách hàng yên tâm sử dụng.</div>
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                            <h3><a href="">Lắp Đặt Tận Nơi</a></h3>
                            <div class="text">Cung cấp dịch vụ lắp đặt chuyên nghiệp ngay tại nhà, đảm bảo sự tiện lợi và hài lòng cho khách hàng.
                                Miễn phí lắp đặt với một số sản phẩm hoặc chương trình ưu đãi đặc biệt.</div>
                            
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                            <h3><a href="">Nội Thất Xanh – Vì Môi Trường</a></h3>
                            <div class="text">Hướng đến sử dụng vật liệu thân thiện môi trường và bền vững.
                                Các sản phẩm tích hợp công nghệ tiết kiệm năng lượng và bảo vệ sức khỏe gia đình bạn.</div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fun Fact Section -->