<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12 mt-2">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> THÊM DANH MỤC BÀI VIẾT</h5>
                            <div class="table-responsive">
                                <form #form="ngForm" (ngSubmit)="createPostCategory()" enctype="multipart/form-data">
                                    <div class="mb-3">
                                      <label for="name" class="form-label">Tên danh mục</label>
                                      <input type="text" class="form-control" id="name" [(ngModel)]="postcategory.name" name="name" required #name="ngModel">
                                      <div *ngIf="name.invalid && name.touched" class="text-danger">
                                        Tên danh mục là bắt buộc.
                                      </div>
                                    </div>
                                    
                                    
                                    <div class="mb-3">
                                      <label for="image_url" class="form-label">Hình ảnh</label>
                                      <input type="file" class="form-control" id="image_url" (change)="onFileChange($event)">
                                      <div *ngIf="fileError" class="text-danger">
                                        Vui lòng chỉ chọn các tệp hình ảnh (JPG, PNG).
                                      </div>
                                    </div>
                                    
                                    <div *ngIf="form.invalid && (form.dirty || form.touched)" class="alert alert-danger">
                                      Vui lòng kiểm tra lại các trường bắt buộc.
                                    </div>
                                  
                                    <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">Thêm Danh Mục</button>
                                  </form>                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>