<!-- Logo carousel start -->
<div class="container">
  <h2>Khách hàng In7 tại</h2>
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3 text-center">
            <img class="d-block mx-auto img-custom" src="https://theme.hstatic.net/200000065946/1001264503/14/logo_items_1.png?v=364" alt="First slide">
          </div>
          <div class="col-md-3 text-center">
            <img class="d-block mx-auto img-custom" src="https://theme.hstatic.net/200000065946/1001264503/14/logo_items_2.png?v=364" alt="First slide">
          </div>
          <div class="col-md-3 text-center">
            <img class="d-block mx-auto img-custom" src="https://theme.hstatic.net/200000065946/1001264503/14/logo_items_3.png?v=364" alt="First slide">
          </div>
          <div class="col-md-3 text-center">
            <img class="d-block mx-auto img-custom" src="https://theme.hstatic.net/200000065946/1001264503/14/logo_items_4.png?v=364" alt="First slide">
          </div>
        </div>
      </div>
      <!-- Carousel Item 1 -->

      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3 text-center">
            <img class="d-block mx-auto img-custom" src="https://theme.hstatic.net/200000065946/1001264503/14/logo_items_5.png?v=364" alt="Second slide">
          </div>
          <div class="col-md-3 text-center">
            <img class="d-block mx-auto img-custom" src="https://theme.hstatic.net/200000065946/1001264503/14/logo_items_6.png?v=364" alt="Second slide">
          </div>
          <div class="col-md-3 text-center">
            <img class="d-block mx-auto img-custom" src="https://theme.hstatic.net/200000065946/1001264503/14/logo_items_7.png?v=364" alt="Second slide">
          </div>
          <div class="col-md-3 text-center">
            <img class="d-block mx-auto img-custom" src="https://theme.hstatic.net/200000065946/1001264503/14/logo_items_8.png?v=364" alt="Second slide">
          </div>
        </div>
      </div>
      <!-- Carousel Item 2 -->
    </div>
  </div>
</div>
<!-- Logo carousel end -->

<!-- service banner start -->
<div class="container my-5">
  <div class="row text-center">
    <div class="col-md-3 col-sm-6 p-4 border">
      <img width="50" height="50" src="//theme.hstatic.net/200000065946/1001264503/14/vice_item_1_thumb.png?v=367" alt="Giao Hàng & Lắp Đặt">
      <div><strong>Giao Hàng & Lắp Đặt</strong></div>
      <div>Miễn Phí</div>
    </div>
    <div class="col-md-3 col-sm-6 p-4 border">
      <img width="50" height="50" src="//theme.hstatic.net/200000065946/1001264503/14/vice_item_2_thumb.png?v=367" alt="Đổi Trả 1 - 1">
      <div><strong>Đổi Trả 1 - 1</strong></div>
      <div>Miễn Phí</div>
    </div>
    <div class="col-md-3 col-sm-6 p-4 border">
      <img width="50" height="50" src="//theme.hstatic.net/200000065946/1001264503/14/vice_item_3_thumb.png?v=367" alt="Bảo Hành 2 Năm">
      <div><strong>Bảo Hành 2 Năm</strong></div>
      <div>Miễn Phí</div>
    </div>
    <div class="col-md-3 col-sm-6 p-4 border">
      <img width="50" height="50" src="//theme.hstatic.net/200000065946/1001264503/14/vice_item_4_thumb.png?v=367" alt="Tư Vấn Thiết Kế">
      <div><strong>Tư Vấn Thiết Kế</strong></div>
      <div>Miễn Phí</div>
    </div>
  </div>
</div>
<!-- service banner end -->

<!-- Main Footer -->
<footer
  class="main-footer alternate mt-5"
  style="background-image: url(/assets/client/images/background/5.jpg)"
>
  <div class="auto-container">
    <!--Widgets Section-->
    <div class="widgets-section">
      <div class="row">
        <!--Big Column-->
        <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <!--Footer Column-->
            <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget about-widget">
                <div class="footer-logo">
                  <figure>
                    <a routerLink="/"><img src="/assets/client/images/footer-logo.png" alt=""
                    /></a>
                  </figure>
                </div>
                <div class="widget-content">
                  <div class="text">
                    Nội Thất In7 là thương hiệu đến từ Việt Nam với gần 40 năm kinh nghiệm trong việc sản xuất và xuất khẩu nội thất đạt chuẩn quốc tế.                  
                    <img class=" ls-is-cached lazyloaded" data-src="//theme.hstatic.net/200000065946/1001264503/14/logo_bct.png?v=367" src="//theme.hstatic.net/200000065946/1001264503/14/logo_bct.png?v=367" alt="Bộ Công Thương">
                  </div>
                </div>
              </div>
            </div>

            <!--Footer Column-->
            <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget about-widget">
                <h2 class="widget-title">DỊCH VỤ</h2>
                <!--Footer Column-->
                <div class="widget-content">
                  <li><a routerLink="">Chính Sách Bán Hàng</a></li>
                  <li><a routerLink="">Chính Sách Giao Hàng & Lắp Đặt</a></li>
                  <li><a routerLink="">Chính Sách Đổi Trả</a></li>
                  <li><a routerLink="">Chính Sách Bảo Hành & Bảo Trì</a></li>
                  <li><a routerLink="">Chính Sách Đối Tác Bán Hàng</a></li>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Big Column-->
        <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget about-widget">
                <h2 class="widget-title">THÔNG TIN LIÊN HỆ</h2>
                <div class="widget-content">
                  <ul class="text">
                    <li class="contact-1 d-flex">
                      <div class="col-1">
                        <i class="bi bi-geo-alt-fill"></i>
                      </div>
                      <div class="col-11">
                        Showroom: 162 HT17, P. Hiệp Thành, Q. 12, TP. HCM | Hotline: 0971 141 140
                      </div>
                    </li>  
                    <li class="contact-2 d-flex">
                      <div class="col-1">
                          <i class="bi bi-telephone-fill"></i>
                      </div>
                      <div class="col-11">
                          097 114 1140 (Hotline/Zalo)<br>
                          0902 415 359 (Giao Hàng)
                      </div>
                    </li>
                    <li class="contact-3 d-flex">
                      <div class="col-1">
                        <i class="bi bi-envelope-fill"></i>
                      </div>
                      <div class="col-11">
                        cskh&#64;in7.com.vn
                      </div>
                    </li>                       
                  </ul>
                </div>
              </div>
            </div>

            <!--Footer Column-->
            <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget gallery-widget">
                <h2 class="widget-title">VỊ TRÍ</h2>
                <div class="widget-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15717.681978491186!2d105.7582274!3d9.9820815!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1728282986390!5m2!1svi!2s" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Footer Bottom-->
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <div class="social-links">
          <ul class="social-icon-two">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>

        <div class="copyright-text">
          <a href="https://www.templateshub.net" target="_blank"
            >Copyright © 2024 Nội Thất In7</a
          >
        </div>
      </div>
    </div>
  </div>

  <!--Scroll to top-->
</footer>

<!-- TouchSpin JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.min.js"></script>

